.humidity {
  margin-left: 30px;
}


/* todayクラスに適用するスタイル */
.today {
  font-size: 20px;
span {
  background-color: #FFC0CB;
}
/* temperatureクラスに適用するスタイル */
span {
  background-color: #FFC0CB;
  display: inline-block;
  height: 28px;
}
/* humidityクラスに適用するスタイル */

/* img要素に適用するスタイル */
